
/* font-family: 'Exo 2', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
li {
    list-style: none;
    position: relative;
}
body {
    font-family: 'Roboto', sans-serif;
	line-height: 28px;
}
img {
	width: 100%;
}

@keyframes fadeInDown {
	0% {
		transform: translate3d(0px,-100%,0px);
		opacity: 0;
	}
	100% {
		transform: translate3d(0px,0px,0px);
		opacity: 1;
	}
}
@keyframes fadeInUp {
	0% {
		transform: translate3d(0px,-100%,0px);
		opacity: 0;
	}
	100% {
		transform: translate3d(0px,0px,0px);
		opacity: 1;
	}
}




.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }


.container-fluid {
	padding: 0px 30px;
}

#navber {
	position: absolute;
	width: 100%;
}
.main-header-wrapper::before {
	content: "";
	position: absolute;
	width: 215px;
	height: 100%;
	top: 0;
	right: 0;
	background: #FF5E14;
	z-index: -1;
}
.header-top-bar {
	padding: 10px 0px;
	background: #001659;
}
.top-left-content li {
	display: inline-block;
	padding-right: 35px;
	margin-right: 35px;
	border-right: 1px solid #606881;
	color: white;
}
.top-social-icons a {
	margin-left: 15px;
	color: white;
	transition: all 0.3s ease-in-out;
}
.top-social-icons a:hover {
	color: #FF5E14 !important;
}
.top-left-content li i {
	margin-right: 7px;
}
.call-action {
	background: #ff5e14;
}
.search-icon {
	margin-right: 30px;
}
.search-icon a {
	color: #001659;
}
.call-action span {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}
.call-action p {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.header-wrap {
	padding: 20px 0px;
    background: #fff;
}
.nav-link {
	padding: 30px 20px;
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	color: #001041;
    text-transform: uppercase;
}
.sub-menu a {
	padding: 12px 25px;
	font-size: 15px;
	font-weight: 600;
	line-height: 1;
	color: #252525;
	display: inline-block;
	text-transform: uppercase;
}
.sub-menu {
	background: #fff;
	box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
	transition: all 0.5s ease-in-out;
	transform: translateY(40px);
	visibility: hidden;
    opacity: 0;
	position: absolute;
	width: 200px;
	top: 100%;
	left: 0;
	padding: 10px 0px;
    z-index: 10;
}
.nav-item:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.menuBtn {
	color: #001659;
	font-size: 36px;
	line-height: 1;
	background: transparent;
	border: 0;
}
.menu-wrapper {
	position: fixed;
	z-index: 999;
	width: 500px;
	height: 100%;
	top: 0;
	right: 0;
	background: #0B1728;
	padding: 40px 45px;
	transition: all 0.5s ease-out 0s;
	transform: translateX(100%);
}
.menu-wrapper.active {
	transform: translateX(0);
}
.toggle-header img {
	width: 150px;
}
.close-menu {
	width: 50px;
	height: 50px;
	background: #ff5e14;
	border: 0;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	transition: all 0.3s linear;
}
.close-menu:hover {
	transform: rotate(90deg);
}
.toggle-header {
	margin-bottom: 60px;
}
.menu-item {
	font-weight: 500;
}
.menu-item a {
	width: 100%;
	padding: 10px 20.5px 10px 0px;
	border-bottom: 1px solid #373737;
	color: #fff;
	transition: all 0.3s
}
.menu-item a:hover {
	color: #FF5E14;
}
.toggle-menu-icon {
	right: 0;
	width: 30px;
	height: 30px;
	background: #ff5e14;
	text-align: center;
	line-height: 30px;
	color: #fff;
	margin-top: 8px;
	cursor: pointer;
}
.mobile-nav-contact li {
	margin-top: 10px;
	font-weight: 600;
  	color: #fff;
}
.mobile-nav-contact li a {
	font-weight: 600;
  	color: #fff;
}
.mobile-nav-contact i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #FF5E14;
	border-radius: 50px;
	margin-right: 10px;
}
.mobile-nav-social {
	margin-top: 40px;
}
.mobile-nav-social i {
	color: #fff;
	display: inline-block;
	margin-right: 4px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	transition: all 0.4s ease-in-out;
}
.mobile-nav-social i:hover {
	background: #FF5E14;
	
}


.container {
	max-width: 1230px;
}
.horo-imgs {
	background: url(../imgs/hero2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
	z-index: 1;
}
.horo-imgsB {
	background: url(../imgs/hero1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
	z-index: 1;
}
.horo-imgs::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 60%);
	top: 0;
	left: 0;
	z-index: -1;
}
.hero-content {
	padding: 200px 0px;
    text-align: left;
}
.hero-content h1 {
	font-size: 95px;
	font-weight: 700;
	line-height: 111.15px;
	color: #001659;
	margin-bottom: 30px;
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
}
.hero-content p {
	font-size: 20px;
	color: #001659;
	margin-bottom: 20px;
}
.temp-btn {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	padding: 25px 43px 21px;
	margin: 20px 24px 0px 0px;
	text-transform: uppercase;
	background: #FF5E14;
	transition: all 0.3s ease-in-out;
}
.temp-btn:hover {
	color: #fff;
	background: #001659;
}
.banar-icon {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #fff;
	color: #FF5E14;
	border-radius: 50px;
	float: left;
	margin-right: 20px;
	transition: all 0.3s ease-in-out;
}
.banar-icon:hover {
    background: #001659;
    color: #fff;
}
.banar-text {
	padding-top: 3px;
	float: left;
	overflow: auto;
}
.banar-text span {
	display: block;
}
.plus-text-btn {
	margin-top: 20px;
	margin-right: 0;
	font-weight: 600;
	color: #fff;
	background: #001659;
}
.plus-text-btn:hover {
	background: #FF5E14;
}
.banar-wrap {
	padding-top: 124px;
}


.about {
	padding: 120px 0px;
}
.about-cover-bg {
	height: 570px;
	position: relative;
	background: url(../imgs/about-cover.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.our-years {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 40px 10px;
	background-color: #fff;
	text-align: center;
}
.year-outline {
	background-image: url("../imgs/outline.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.year-outline h2 {
	font-family: "Exo 2", sans-serif;
	font-size: 115px;
	line-height: 1;
	font-weight: 700;
}
.our-years p {
	font-weight: 700;
	color: #FF5E14;
}
.our-years p span {
	color: #001659;
}
.block-contents blockquote {
	border-left: 5px solid #FF5E14;
	font-style: italic;
	padding-left: 20px;
	color: #001659;
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 20px;
}


.workp-process {
	padding: 120px 0px;
	margin-top: -30px;
}
.single-work-item {
	margin-top: 30px;
	padding-right: 89px;
}
.single-work-item::after {
	position: absolute;
	content: "";
	height: 265px;
	width: 1px;
	background: #EBEDF2;
	top: -30px;
	right: 30px;
}
.single-work-item.border-right::after {
	display: none;
}
.single-work-icon {
	font-size: 60px;
	line-height: 1;
	margin-bottom: 25px;
	color: #FF5E14;
}
.single-work-icon img {
	width: 60px;
}
.single-work-content span {
	font-size: 16px;
	line-height: 1;
	color: #001659;
	text-transform: uppercase;
}
.single-work-content h5 {
	font-size: 20px;
	font-weight: 700;
	line-height: 29px;
	color: #001659;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'Exo 2', sans-serif;
}
.single-work-content p {
	font-size: 15px;
	line-height: 28px;
	color: #53545A;
	margin-bottom: 0;
}

.poppu-img::before {
	position: absolute;
	content: "";
	height: 80%;
	width: 80%;
	background: #fff;
	opacity: 0.3;
	z-index: -1;
}
.poppu-img {
	width: 230px;
	height: 280px;
	background: url(../imgs/video_bg_1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 15px solid #fff;
	bottom: -30px;
	left: -80px;
	z-index: 1;
}
.video-btn a {
	font-size: 30px;
	line-height: 1;
	color: #fff;
}
.section-title h5 {
	font-size: 160px;
	line-height: 1;
	-webkit-text-stroke: 1px #001659;
	-webkit-text-fill-color: transparent;
	opacity: 0.1;
	transform: translateX(-50%);
	left: 50%;
	top: -53px;
	font-weight: 700;
}
.section-title span {
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	color: #FF5E14;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.section-title h2 {
	font-size: 57px;
	font-weight: 700;
	line-height: 66.66px;
	color: #001659;
	margin-bottom: 0;
	text-transform: capitalize;
}
.block-contents {
	padding-right: 40px;
}
.block-contents p {
	line-height: 28px;
	color: #53545A;
	margin-bottom: 0;
	margin-top: 15px;
}





.about-right .plus-text-btn {
	margin-bottom: 0;
	margin-top: 48px;
}
.about-right .plus-text-btn .banar-icon {
	background: #FF5E14;
	color: #fff;
}
.about-right .plus-text-btn .banar-text {
	color: #001659;
}
.about-right .plus-text-btn:hover .banar-icon {
	background: #001659;
}


.our-service {
	padding: 120px 0px;
	background: #F9F9F9;
}
.single-service-box {
	border: 1px solid #EBEDF2;
	background-color: #fff;
	margin-top: 40px;
}
.service-icon {
	margin-right: 20px;
}
.service-icon img {
	width: 54px;
}
.single-service-content {
	padding: 30px 40px;
}
.single-service-content h4 a {
	font-size: 22px;
	font-weight: 700;
	line-height: 31.9px;
	font-family: 'Exo 2', sans-serif;
	color: #001659;
	text-transform: uppercase;
	margin: 0px 0px 15px;
}
.single-service-content p {
	line-height: 28px;
	color: #53545A;
}
.single-service-content a {
	color: #FF5E14;
	font-weight: 700;
	font-size: 14px;
	margin-top: 15px;
	transition: all 0.3s ease-in-out;
}
.single-service-content a:hover {
	color: #001659;
}
.single-service-content h4 a:hover {
	color: #FF5E14;
}
.single-service-bg {
	background: url(../imgs/s1.jpg);
	height: 230px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.single-service-bg.bg2 {
	background: url(../imgs/s2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.single-service-bg.bg3 {
	background: url(../imgs/s3.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}



.our-tabs-wrapper::before {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #001659;
	width: 100%;
	height: 30%;
	content: "";
	z-index: -1;
}
.tabs-block {
	background: #fff;
	border: 1px solid #ebedf2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(235, 237, 242);
	box-shadow: 0px 10px 50px rgba(3, 10, 30, 0.07);
	box-sizing: border-box;
	border-top: 0;
}
#tabs {
	margin-left: -1px;
	flex-wrap: wrap;
}
#tabs li {
	width: 25%;
}
#tabs li a {
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	line-height: 80px;
	color: #001659;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	width: 100%;
	border-right: 1px solid #EBEDF2;
	border-bottom: 1px solid #EBEDF2;
	text-align: center;
	transition: all .15s ease-in-out;
}
#tabs li.active a {
	background: #FF5E14;
	color: #fff;
}
#tab-contents .tab-contents {
	display: none;
}
#tab-contents .tab-contents.active {
	display: block;
}
.tab-contents-wrap {
	padding: 50px;
}
.project-estimate {
	margin-top: 30px;
}
.project-single-data {
	margin-right: 30px;
}
.pro-sin-tit {
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	color: #001659;
	font-family: "Exo 2", sans-serif;
}
.pro-sin-tex {
	font-size: 13px;
	line-height: 1;
	color: #53545A;
}
.total-ton {
	font-size: 24px;
	line-height: 1;
	color: #001659;
	margin: 0px 0px 15px !important;
	font-family: "Exo 2", sans-serif;
	font-weight: 500;
}
.total-ton span {
	color: #FF5E14;
	font-weight: 700;
	line-height: 1;
	font-size: 13px;
}
.tab-text a {
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	color: #FF5E14;
	margin-top: 20px;
}
.tab-text p {
	color: #53545A;
}
.tab-text h2 {
	font-size: 30px;
	line-height: 43.5px;
	color: #001659;
	font-weight: 700;
	font-family: "Exo 2", sans-serif;
	margin-bottom: 15px;
}



.faq-funfact {
	padding: 70px 0px 100px;
}
.faq-number-wrap {
	margin-top: 30px;
}
.faq-number-wrap h2 {
	font-size: 50px;
	font-weight: 700;
	line-height: 72.5px;
	color: #001659;
	font-family: 'Exo 2', sans-sarif;
	margin: 0;
}
.faq-number-wrap h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 34.8px;
	color: #001659;
	font-family: 'Exo 2', sans-sarif;
	margin: 0;
	text-transform: uppercase;
}



.choose-us {
	padding: 120px 0px;
	background-image: radial-gradient(#E6E6E6 1px, transparent 0);
	background-size: 15px 15px;
}
.choose-us-bg {
	background: url(../imgs/why-bg.jpg);
	top: 0;
 	left: 0;
	width: 47%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.offset {
	margin-left: 50%;
}
.single-icon {
	width: 172px;
	height: 100px;
	text-align: center;
	line-height: 90px;
	border-radius: 50px;
	border: 5px solid #FF5E14;
	margin-right: 25px;
}
.single-icon img {
	width: 40px;
	height: 48px;
	object-fit: contain;
}
.single-icon-item {
	margin-top: 40px;
	padding-right: 25px;
}
.single-icon-content h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 34.8px;
	color: #001659;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	margin-bottom: 15px;
}
.single-icon-content p {
	line-height: 28px;
	color: #53545A;
	margin-bottom: 0;
}




.our-team {
	padding: 120px 0px;
}
.block-contents a {
	background: transparent;
	color: #001659;
	border: 1px solid #001659;
	margin: 40px 0px 0px;
}
.team-member {
	margin-top: 40px;
}
.team-member-img img {
	width: 100%;
	height: 440px;
	transition: all 0.4s ease-in-out;
}
.team-member-img {
	overflow: hidden;
}
.team-details-bar {
	width: 90%;
	margin: 0 auto;
	margin-top: -50px;
	background: #fff;
	padding: 20px;
	height: 90px;
	overflow: hidden;
}
.team-details-bar::after {
	position: absolute;
	content: "";
	width: 0;
	height: 1px;
	background: #FF5E14;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}
.team-btn {
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 20px;
	color: #FF5E14;
	text-align: center;
	border: 1px solid #FF5E14;
	transition: all 0.3s ease-in-out;
}
.team-btn:hover {
	background: #FF5E14;
	color: #fff;
}
.member-data span {
	font-size: 14px;
	line-height: 28px;
	color: #53545A;
}
.member-data h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 34.8px;
	color: #001659;
	font-family: 'Exo 2', sans-sarif;
	text-transform: uppercase;
	margin-bottom: 0;
}
.member-data {
	transition: all 0.4s ease-in-out;
}
.member-socil-icon {
	transition: all 0.4s ease-in-out;
	visibility: hidden;
	opacity: 0;
}
.member-socil-icon a {
	font-size: 20px;
	margin: 0px 12px;
	color: #001659;
	transition: all 0.3s ease-in-out;
}
.member-details {
	height: 60px;
	overflow: hidden;
}
.member-socil-icon a:hover {
	color: #FF5E14;
}
.team-member:hover .team-member-img img {
	transform: scale(1.1);
}
.team-member:hover .team-details-bar::after {
	visibility: visible;
	opacity: 1;
	width: 100%;
	left: 0;
	right: auto;
}
.team-member:hover .member-socil-icon {
	visibility: visible;
	opacity: 1;
}
.team-member:hover .member-data {
	visibility: visible;
	opacity: 0;
	margin-top: -45px;
}



.project {
	padding: 120px 0px;
	background: url(../imgs/project-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}
.project::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 130px;
	background: #fff;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.project .section-title h5 {
	color: #fff;
	-webkit-text-stroke: 1px #fff;
	left: 0;
	transform: translateX(-5px);
}
.project .section-title h2 {
	color: #fff;
}
.single-project-card {
	margin-top: 40px;
	width: 100%;
}
.project-carousel-wrapper {
	z-index: 1;
	display: block;
	margin-bottom: -120px;
}
.project-bg {
	height: 450px;
	width: 100%;
	background: url(../imgs/p1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.project-bgp2 {
	background: url(../imgs/p2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.project-bgp3 {
	background: url(../imgs/p3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.project-number h2 {
	font-size: 60px;
	line-height: 87px;
	font-weight: 700;
	font-family: "Exo 2", sans-serif;
	color: #fff;
}
.project-details span {
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	color: #fff;
}
.project-number {
	margin-right: 20px;
}
.project-details a {
	font-size: 24px;
	line-height: 34.8px;
	font-weight: 700;
	color: #fff;
	font-family: "Exo 2", sans-serif;
}
.project-details p {
	font-size: 14px;
	line-height: 28px;
	color: #fff;
	font-style: italic;
}
.project-content {
	padding: 20px;
	background: #FF5E14;
	position: relative;
}
.swiper-button-next::after, .swiper-button-prev::after {
	display: none;
}
.swiper-button-next, .swiper-button-prev {
	width: 67.5px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	top: 50%;
	display: inline-block;
	background: #FFF;
	font-size: 20px;
	color: #FF5E14;
	transition: all 0.3s ease-in-out;
}
.swiper-button-prev {
	left: 0;
}
.swiper-button-next {
	right: 0;
}




.blog-img img {
	width: 100%;
	height: 230px;
}
.blog-card {
	margin-top: 40px;
	border: 1px solid #EBEDF2;
}
.blog-contenr {
	padding: 0px 30px 30px;
}
.post-author img {
	width: 34px;
	margin-right: 10px;
}
.post-author a {
	font-size: 14px;
	font-weight: 700;
	line-height: 34px;
	text-transform: uppercase;
	color: #001659;
	transition: all 0.3s ease-in-out;
}
.post-author a:hover {
	color: #FF5E14;
}
.post-date a:hover {
	color: #FF5E14;
}
.post-date i {
	color: #FF5E14;
	margin-right: 5px;
}
.post-date a {
	font-size: 14px;
	font-weight: 700;
	line-height: 34px;
	text-transform: uppercase;
	color: #001659;
	transition: all 0.3s ease-in-out;
}
.post-member {
	padding: 8px 20px;
	margin-bottom: 15px;
	border: 1px solid #EBEDF2;
	margin-top: -31px;
	background: #fff;
}
.post-member::after {
	position: absolute;
	content: "";
	height: 100%;
	border: 1px solid #EBEDF2;
	left: 50%;
	top: 0;
}
.blog-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 34.8px;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-sarif;
	margin-bottom: 15px;
}
.blog-title a {
	color: #001659;
	transition: all 0.3s ease-in-out;
}
.blog-title a:hover {
	color: #FF5E14;
}
.blog-btn {
	margin-top: 30px;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	display: block;
	color: #FF5E14;
}
.blog-btn:hover {
	color: #001659;
}
.blog-img::before {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	background: #001659;
	transition: all 0.4s ease-in-out;
	right: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
}
.blog-card:hover .blog-img::before {
	width: 100%;
	left: 0;
	right: auto;
	visibility: visible;
	opacity: 0.5;
}
.our-blog {
	padding: 120px 0px;
}






.cta-wrapper {
	padding: 50px 0px 35px;
	background: #FF5E14;
}
.cta-text {
	gap: 25px;
}
.cta-icon img {
	width: 100px;
	height: 115px;
	object-fit: contain;
}
.cta-text h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 43.5px;
	color: #fff;
	margin-bottom: 15px;
	font-family: "Exo 2", sans-serif;
	text-transform: uppercase;
}
.cta-btn {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #FFF;
	padding: 25px 43px 21px;
	background: #FF5E14;
	transition: all 0.3s ease-in-out;
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid #fff;
}
.cta-btn:hover {
	background: #001659;
	border-color: #001659;
}



.core-features {
	padding: 120px 0px;
}
.project-details-card {
	margin: 0px 24px;
	padding: 40px 45px 30px;
	background-image: radial-gradient(#E6E6E6 1px, transparent 0);
	background-size: 15px 15px;
	background-position: -15px -23px;
	background-color: #F9F9F9;
}
.project-details-card::before {
	content: "";
	border-top: 25px solid #FF5E14;
	border-right: 25px solid transparent;
	top: 20px;
}
.project-title h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 34.8px;
	color: #001659;
	text-transform: uppercase;
	margin-bottom: 15px !important;
	font-family: 'Exo 2', sans-sarif;
}
.project-title p {
	line-height: 28px;
	color: #53545A;
}
.project-title {
	padding-bottom: 20px;
}
.project-date {
	padding: 20px 0px;
	border-top: 1px solid #E4E7EF;
}
.pro-tit {
	font-size: 18px;
	font-weight: 700;
	line-height: 26.1px;
	color: #001659;
	font-family: 'Exo 2', sans-sarif;
	margin-bottom: 15px !important;
}
.pro-tex {
	line-height: 28px;
	color: #53545A;
}
.project-client {
	padding-bottom: 30px;
	border-bottom: 1px solid #E4E7EF;
}

.core-features-bg {
	width: 41%;
	height: 100%;
	top: 0;
	right: 0;
	background: url(../imgs/core-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}



.brand-carousel {
	padding: 120px 0px;
	background: #001659;
}
.brand-logo img {
	filter: brightness(2);
}


.testimonial-titl {
	margin-left: 25%;
	text-align: center;
}
.testimonial-wrapper {
	padding-top: 120px;
}
.testimonial-item {
	background: #F9F9F9;
	padding: 130px 95px 0px;
	margin-top: 70px;
}
.testimonial-icon {
	width: 87px;
	height: 87px;
	background: #FF5E14;
	font-size: 40px;
	line-height: 87px;
	color: #fff;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
}
.testimonial-item p {
	font-size: 22px;
	line-height: 33px;
	color: #53545A;
	font-style: italic;
}
.client-info {
	margin-top: 50px;
}
.client-info h5 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #001659;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-sarif;
}
.client-info span {
	line-height: 1;
	color: #53545A;
}
.client-imgs {
	width: 86px;
	height: 86px;
	border-radius: 50%;
	margin: 0 auto;
	bottom: -43px;
	background: url(../imgs/slid1.jpg);
}
.testimonial-wrapper .swiper-slide.swiper-slide-active {
	padding-bottom: 45px;
}



.portfolio-carousel {
	padding: 120px 0px;
}
.portfolio-item {
	width: 100%;
	margin-top: 50px;
}
.portfolio-bg {
	height: 615px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	width: 100%;
}
.imgs-bg1 {
	background: url(../imgs/1.jpg);
}
.imgs-bg2 {
	background: url(../imgs/2.jpg);
}
.imgs-bg3 {
	background: url(../imgs/3.jpg);
}
.imgs-bg4 {
	background: url(../imgs/4.jpg);
}
.imgs-bg5 {
	background: url(../imgs/2.jpg);
}
.portfolio-bg::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #001659;
	transition: all 0.4s ease-in-out;
	visibility: hidden;
	opacity: 0;
}
.portfolio-icon {
	font-size: 30px;
	color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
	transition: all 0.4s ease-in-out;
	visibility: hidden;
	opacity: 0;
}
.portfolio-item:hover .portfolio-icon {
	visibility: visible;
	opacity: 1;
}
.portfolio-item:hover .portfolio-bg::before {
	visibility: visible;
	opacity: 0.6;
}
.portfolio-content {
	margin-top: 20px;
}
.portfolio-content span {
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	color: #53545A;
	text-transform: uppercase;
}
.portfolio-content h4 a {
	font-size: 22px;
	line-height: 31.9px;
	font-weight: 700;
	color: #001659;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-sarif;
}
.portfolio-content p {
	font-size: 12px;
	line-height: 1;
	color: #53545A;
	text-transform: uppercase;
}















.footer {
	padding: 50px 0px 90px;
	background: #001659;
}
.footer-right {
	margin-left: 102.5px;
}
.footer-wrap {
	margin-top: 40px;
}
.footer-wrap h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 34.8px;
	color: #fff;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-sarif;
}
.foot-icon i {
	font-size: 24px;
	color: #fff;
	margin-right: 20px;
}
.foot-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #fff;
	display: block;
	margin-bottom: 15px;
	transition: all 0.3s ease-in-out;
}
.content-info {
	margin-bottom: 20px;
}
.footer-center a {
	margin-bottom: 15px;
	transition: all 0.3s ease-in-out;
}
.footer-conten li a:hover {
	padding-left: 10px;
}
.inputbar {
	width: 100%;
	height: 60px;
	padding: 0px 30px 0px 50px;
	border: 0;
	font-size: 16px;
	color: #53545A;
}
.form-btn {
	margin-top: 20px;
	padding: 20px 30px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	background: #FF5E14;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 15px;
	transition: all 0.4s ease-in-out;
}
.form-btn:hover {
	background: #001659;
	color: #fff;
}
.news-icon {
	z-index: 1;
	line-height: 60px;
	margin-left: 20px;
	color: #FF5E14;
}
.foot-text span {
	font-weight: 700;
	color: #001659;
}
.footer-cta-wrap {
	background: #001659;
	z-index: 1;
}
.footer-cta-wrap::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	left: 0;
	bottom: 0;
	background: #fff;
	z-index: -1;
}
.footer-ctabg-wrap {
	padding: 40px;
	background: #FF5E14;
}
.foot-cta-text {
	margin-left: 95.8px;
}
.footer-socil-icon a {
	width: 50px;
	height: 50px;
	background: #fff;
	line-height: 50px;
	transition: all 0.3s ease-in-out;
	margin-left: 10px;
	color: #001659;
}
.footer-socil-icon a:hover {
	color: #fff;
	background: #001659;
}
.foot-cta-text p {
	line-height: 28px;
	color: #fff;
}
.footer-bar {
	padding: 25px 0px;
}
.coppyrite p {
	line-height: 28px;
	color: #001659;
}
.coppyrite p a {
	font-weight: 600;
	color: #FF5E14;
}
.footer-menu li a {
	padding-right: 20px;
	margin-left: 20px;
	line-height: 1;
	font-weight: 600;
	color: #001659;
	border-right: 1px solid #53545A;
}