
@media (max-width: 1920px) {
    .container-fluid {
        padding: 0px 200px;
    }
    .main-header-wrapper::before {
        width: 385px;
    }
}


@media (max-width: 1600px) {
    .container-fluid {
        padding: 0px 50px;
    }
    .main-header-wrapper::before {
        width: 235px;
    }
}


@media (max-width: 1366px) {
    .container-fluid {
        padding: 0px 30px;
    }
    .main-header-wrapper::before {
        width: 215px;
    }
}



@media (max-width: 900px) {
    .container-fluid {
        padding: 15px;
    }
    .main-header-wrapper::before {
       display: none;
    }
    .banar-wrap {
        padding-top: 140px;
    }
    .hero-content {
        padding: 110px 0px;
    }
    .hero-content h1 {
        font-size: 60px;
        line-height: 70.2px;
    }
    .temp-btn {
        padding: 16px 30px 14px;
    }
    .about {
        padding: 100px 0px;
    }
    .section-title h2 {
        font-size: 42px;
        line-height: 49.1333px;
    }
    .block-contents a {
        background: #ff5e14;
        color: #fff;
        border: 0;
    }
    .cta-text h2 {
        font-size: 26px;
        line-height: 37.7px;
    }
    .cta-icon img {
        width: 80px;
        height: 92px;
    }
    .cta-btn {
        padding: 16px 30px 14px;
    }
    .brand-carousel {
        padding: 100px 0px;
    }
    #tabs li {
        width: 50%;
    }
    .tab-icon {
        width: 16px;
        height: 19.333px;
        left: 22%;
        top: 36%;
    }
    .tab-text h2 {
        font-size: 26px;
        line-height: 37.7px;
    }
    .tab-contents-wrap {
        padding: 30px;
    }
    .tab-imgs {
        margin-top: 30px;
    }
    .choose-us {
        padding: 100px 0px;
    }
    .offset {
        margin-left: 0;
    }
    .single-icon {
        width: 125px;
        margin-bottom: 20px;
    }
    .our-team {
        padding: 100px 0px;
    }
    .project-bg {
        height: 300px;
    }
    .project {
        padding: 100px 0px;
    }
    .our-blog {
        padding: 100px 0px;
    }
    .footer {
        padding: 30px 0px 70px;
    }
    .footer-right {
        margin-left: 0;
    }
    .foot-cta-text {
        margin-left: 0;
    }
    .footer-socil-icon a {
        margin: 5px 0px 5px 10px;
    }
    .single-icon-item {
        display: flex;
    }
    .header-top-bar {
        padding: 0;
    }
}


@media (max-width: 500px) {
    .container-fluid {
        padding: 15px;
    }
    .banar-wrap {
        padding-top: 82px;
    }
    .hero-content {
        padding: 80px 0px;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 48px;
        line-height: 56.1667px;
    }
    .hero-content p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .temp-btn {
        margin: 10px 0px 0px;
        font-size: 15px;
    }
    .about {
        padding: 80px 0px;
    }
    .section-title h2 {
        font-size: 27px;
        line-height: 31.5833px;
    }
    .block-contents {
        padding-right: 0;
    }
    .our-service {
        padding: 80px 0px;
    }
    .cta-icon img {
        width: 60px;
        height: 72.66px;
    }
    .brand-carousel {
        padding: 80px 0px;
    }
    #tabs li a {
        font-size: 16px;
        line-height: 70px;
        padding-left: 10px;
    }
    .tab-icon {
        left: 3%;
    }
    .faq-funfact {
        padding: 50px 0px 80px;
    }
    .choose-us {
        padding: 80px 0px;
    }
    .single-icon-item {
        display: block !important;
        padding-right: 0;
    }
    .single-icon {
        width: 100px;
    }
    .our-team {
        padding: 80px 0px;
    }
    .project-bg {
        height: 300px;
    }
    .our-blog {
        padding: 80px 0px;
    }
    .footer-wrap h3 {
        margin-bottom: 25px;
    }
    .footer-ctabg-wrap {
        padding: 30px;
    }
    .menu-wrapper {
        width: 100%;
        padding: 30px;
    }
}
